
@font-face {
    font-family: texturina;
    src: url("../webfonts/Texturina-VariableFont_opsz,wght.ttf") format("truetype");
}


@font-face {
    font-family: stalker;
    src: url("../webfonts/Belgrano-Regular.ttf") format("truetype");
}

@font-face {
    font-family: semicoder;
    src: url("../webfonts/Semi-Coder-Regular.otf") format("opentype");
}

@font-face {
    font-family: ateam;
    src: url("../webfonts/ATeam.ttf") format("truetype");
}


.navbar-brand{
    font-family:stalker ;
    font-weight: bold;
    font-size: 14pt !important;
    color: rgba(255,255,255,.82);

    text-decoration: none !important;

}

#cuerpo {
    background-color: black;
    background-image: url("https://lh3.googleusercontent.com/pw/AL9nZEX1EUA5uUGOR9Y57g1JKexO_ZOmZ_9wLUz3x5eCIjOm2GOHVmiHtj1k4wNuGTsap1gjsCa8OF4CM4OI2blQciE2-C_RwQfVnHdULTIt5WnITt7bxTHv8NOEHUfyxR7iu1Ct-5Wo4dThxsXm-dVYnyKg=w1300-h1000-no");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    padding: 10px;
    text-align: right;
    color: rgb(200,200,200);
    overflow-wrap: break-word;
    font-family: stalker !important;
    text-shadow: 2px 2px rgb(0,0,0) !important;
    font-size: 1.4em !important;
    letter-spacing: 3px !important;
}

h2 {
    color: rgb(200,200,200);
    overflow-wrap: break-word;
    font-size: 16pt;
    letter-spacing: 3px !important;

    font-family: stalker !important;
}
.filtered {
    filter: opacity(70%);
}

p {
    color: rgb(200,200,200);
    font-size: 14pt;
    font-family: Texturina;
    text-align:justify;
}

.contenedor{

    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    margin-bottom: 50px;
}

.copyright{

    font-size: 8pt;
}

.carta {
    background-color: rgba(0,0,0,.2);

    margin-bottom: 40px;

}

#barrasuperior{
    background-color: rgba(0,0,0,.85);
    padding: .6rem 1rem;
    color: white;
    position: relative;
    justify-content: space-between;
}

.container-fluid{
    
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 150px !important;


}

.miniaturas{
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.enlaces {
    color:lightblue;
    font-size: 20px;
    font-family: texturina;
    font-style: bold;
    padding: 4px 14px 4px 4px !important;
    text-decoration: underline;

}

.miniaturas:hover {
    animation-name: parpadeoLento;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

}

@keyframes parpadeoLento {
    0%  {box-shadow: 0 0 0 0 rgba(189, 192, 255, 0.5);}
    50% {box-shadow:  0px 0px 10px 10px rgba(189, 192, 255, 0.664);}
    100%  {box-shadow: 0 0 0 0 rgba(189, 192, 255, 0.5);}
}


#miFoto{
    width:300px;
    height:300px;
    align-items:center ;
    background-size:cover;
    background-position:center;
    border-radius:60%;

    display: block;
    margin-left: auto;
    margin-right: auto;

}


#accordion{

    background-color: rgba(0,0,0,.75) !important;
}

.panelDeTexto{

    background-color: rgba(0,0,5,.65);
    padding: 5px 10px;
    border-radius: 10px;
}

.cartasInicio{
    height: 320px !important;

}

.textoCartasInicio{
    color: white !important;
    text-shadow: 3px 3px 2px black;

}
